<div class="container">
    <div class="navigation">
    <span class="site-name">eCommerce</span>
    <ul class="navigation-list">
        <li class="nav-list-item">Home</li>
        <li class="nav-list-item">Products</li>
        <li class="nav-list-item">Categories</li>
        <li class="nav-list-item">About Us</li>
    </ul>
    {% if request.user.is_authenticated %}
        <span class="logged-in">You are logged in as: {{ request.user.username }}</span>
    {% else %}
        <a href="{% url 'store:home' %}" class="log-in">Log In</a>
    {% endif %}
</div>
</div>