{% load extras %}
<div class="container-fluid navigation">
    <div class="site-title">
        <span class="title">Gradient</span>
        <span class="caption">An eCommerce site</span>
    </div>
    <div class="authentication">
        {% if not request.user.is_anonymous %}
            <button class="badge" onclick="showTooltip()">{{ request.user|first_letter }}</button>
        {% else %}
            <a class="btn-o" onclick="login()">Login</a> <a class="btn-o" href="{% url 'store:signup' %}">Signup</a>
        {% endif %}
    </div>
    {% if not request.user.is_anonymous %}
        <div class="navigation-tooltip">
            <a href="#" class="tooltip-link">Cart</a>
            <a href="#" class="tooltip-link">Account</a>
            <a href="#" class="tooltip-link">Settings</a>
            <form class="logout" method="post" action="{% url 'store:logout' %}">
                <input type="submit" value="Logout" id="logout">
            </form>
        </div>
    {% endif %}
</div>
